# macOS
.DS_Store

# Xcode
#build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
Pods/
Example/Pods/AgoraRtcEngine_iOS
Example/Pods/Alamofire
Example/Pods/AWSMobileClient
Example/Pods/EmPush
ExampleSwiftUI/Pods/AgoraRtcEngine_iOS
ExampleSwiftUI/Pods/Alamofire
ExampleSwiftUI/Pods/EmPush
ExampleSwiftUI/Pods/AWSMobileClient
ExampleOC/Pods/AgoraRtcEngine_iOS
ExampleOC/Pods/Alamofire
ExampleOC/Pods/AWSMobileClient
ExampleOC/Pods/EmPush
ExampleOC/Pods
ExampleSwiftUIMpeg
ExampleFFMpeg
AgoraIotLink/Libs
sdk/SwiftJSON
sdk/SwiftJSON
#ijkplayer
libs/ijkplayer/ios/IJKMediaPlayer/Build
libs/ijkplayer/ios/IJKMediaPlayer/DerivedData
libs/SJBaseVideoPlayer/Project
libs/SJVideoPlayer/Example
version.sh
